main .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container h2,
h3 {
  width: 100%;
  text-align: center;
}

.container h2 {
  padding: 20px 0 0 0;
}

.section_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#login,
#signup {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  margin: 30px 0px;
  width: 48%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

form input {
  margin: 5px 0;
  padding: 5px;
}

form input[type='submit'] {
  border: none;
  padding: 5px 0;
  background-color: lightgreen;
}

form input[type='submit']:hover {
  background-color: lime;
  cursor: pointer;
}

.loginError,
.signupError {
  background-color: rgb(247, 81, 81);
  color: white;
  text-align: center;
}
